.heading {
  color: var(--text-align);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.modalInput {
  width: 100%;
  padding: 0 1.5rem;
  height: 4rem;
  border-radius: 0.25rem;

  background: #e7e9ec;
  border: 1px solid #d7d7d7;

  font-weight: 400;
  font-size: 1rem;

  &::placeholder {
    color: var(--text-body)
  }

  & + input {
    margin-top: 1rem;
  }
}

.register {
  width: 100%;
  padding: 0 1.5rem;
  height: 4rem;
  background: var(--green);
  color: #fff;
  border-radius: 0.25rem;
  border: 0;
  font-size: 1rem;
  margin-top: 1.5rem;

  transition: filter 0.2s;


  &:hover {
    filter: brightness(0.9)
  }
}

.modalClose {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;

  &:hover {
    filter: brightness(0.9)
  }
}
