.heading {
  color: var(--gray-100);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.modalInput {
  width: 100%;
  padding: 0 1.5rem;
  height: 4rem;
  border-radius: 0.25rem;
  color: var(--gray-300);

  background: var(--gray-900);
  border: none;

  font-weight: 400;
  font-size: 1rem;

  &::placeholder {
    color: var(--gray-500)
  }

  & + input {
    margin-top: 1rem;
  }
}

.register {
  width: 100%;
  padding: 0 1.5rem;
  height: 4rem;
  background: var(--green-500);
  color: var(--shape);
  border-radius: 0.25rem;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.5rem;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9)
  }
}

.modalClose {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;

  &:hover {
    filter: brightness(0.9)
  }
}

.transationTypeContainer {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.transactionTypeButton {
  height: 4rem;
  border: none;
  border-radius: 0.25rem;
  background: var(--gray-700);
  
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.2s;

  img {
    width: 20px;
    height: 20px;
  }

  span {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1rem;
    color: var(--gray-300);
  }
}

.deposit {
  @extend .transactionTypeButton;
  background: var(--green-500);
  color: var(--shape);

  svg {
    color: var(--shape);
  }
}

.withdraw {
  @extend .transactionTypeButton;
  background: var(--red-500);
  color: var(--shape);

  svg {
    color: var(--shape);
  }
}