.container {
  background-color: var(--blue);
}

.content {
  max-width: 1120px;
  margin: auto;

  padding: 2rem 1rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  font-size: 1rem;
  color: #fff;
  background-color: var(--blue-light);
  border: 0;
  padding: 0 2rem;
  border-radius: 0.25rem;
  height: 3rem;
  cursor: pointer;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}
