.container {
  background-color: var(--gray-900);
}

.content {
  max-width: 1120px;
  margin: auto;

  padding: 2rem 1rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 172.07px;
  height: 41px;
}

.button {
  font-size: 1rem;
  color: var(--shape);
  font-weight: bold;
  background-color: var(--green-500);
  border: 0;
  padding: 0 2rem;
  border-radius: 0.25rem;
  height: 3rem;
  line-height: 160%;
  
  cursor: pointer;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}
