.container {
  width: 1120px;
  max-width: 100%;
}

.tableWrap {
  width: 100%;
  border-spacing: 0 0.5rem;
  border-collapse: separate;

  th {
    color: var(--gray-500);
    font-weight: 400;
    padding: 1rem 2rem;
    text-align: left;
    line-height: 1.5rem;
  }

  td {
    padding: 1rem 2rem;
    border: 0;
    background: var(--gray-700);
    color: var(--gray-300);

    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &.deposit {
      color: var(--green);
    }

    &.withdraw {
      color: var(--red);
    }
  }
}
